<div class="welcome">
    <div id="welcomeindex">
        <div class="row logoline"></div>
            <div class="row topline"></div>
        <div class="row visible-xs-block text-center">
             <img src="/images/LOGO-png2.png" alt="Logo">
        </div>
        <div class="row welcomedata">
            <div class="col-lg-5 col-md-5 col-sm-5 ">
            <div class="text-center">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            <b>想了解更多 "三角關係-單人款衣帽架"</b>
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            </div>
               <%= link_to product_triangle_1_path, onClick: "ga('send', 'event', [主頁面], [連結], [三角形])" do %>
                <div class="portfolio-box">
                    <img src="/images/welcomeindex_1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                車手生活都很亂
                            </div>
                            <div class="project-name">
                                三角關係 衣帽架
                            </div>
                        </div>
                    </div>
                </div>
               <% end %>
            <div class="text-center">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <b>點擊照片,獲得最新優惠活動</b>
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            </div>
         </div>
            <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs index_logo ">
                <img src="/images/LOGO-png1.png" alt="HUCK">
            </div>
                <div class="col-lg-5 col-md-5 col-sm-5 welcomeimage">
            <div class="text-center">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            <b>想了解更多 "鋼鐵帽架"</b>
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            </div>
                    <%= link_to product_helmet_1_path, onClick: "ga('send', 'event', [主頁面], [連結], [四角形])" do %>
                <div class="portfolio-box">
                    <img src="/images/welcomeindex_2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    專業車手都要有
                                </div>
                            <div class="project-name">
                                <font color="yellow">新</font> 安全帽專暑架
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
             <div class="text-center">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <b>點擊照片,獲得最新優惠活動</b>
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            </div>
            </div>
        </div>
        <div class="row bottomline"></div>

        <div class="row logoline">
            <div class="text-center">
                <div class="container">
                        浩克手工傢俬 &copy; 2016
                </div>
            </div>
        </div>
    </div>
</div>
