<body id="page-top" class="index">
<link rel="image_src" href="triangle_header_background1.jpg" />
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbarfoo">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">

                <a class="navbar-brand" href="#page-top">

                <picture>
                 <source srcset="/images/LOGO-png2.png" media="(min-width: 768px)">
                 <source srcset="/images/LOGO-png3.png" media="(max-width: 768px)">

                  <img src"/images/LOGO-png3.png" alt="Logo">

                </picture>
                </div>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <a href="#portfolio" onClick="ga('send', 'event', [三角形], [功能表], [功能])">功能</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about" onClick="ga('send', 'event', [三角形], [功能表], [規格])">規格</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#otherproduct" onClick="ga('send', 'event', [三角形], [功能表], [其他產品])">其他產品</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#contact" onClick="ga('send', 'event', [三角形], [功能表], [購買])">立即購買</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://www.facebook.com/huckhandwork" onClick="ga('send', 'event', [三角形], [功能表], [粉絲頁])">FB粉絲頁</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
      <div class="row">
         <picture>
         <source srcset="/images/triangle_header_background.jpg" media="(min-width: 480px)">
         <source srcset="/images/triangle_header_background1.jpg" media="(max-width: 480px)">

         <img src"/images/triangle_header_background1.jpg" alt="Logo">

         </picture>
       </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center"><br/>
                    <h2>功能</h2>
                    <hr class="star-primary primary2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 function">
                <br/><br/><br/>
                   <h2>6吋強力風扇!<br/></h2>
                   <img src="/images/triangle_function_1.jpg" alt="Logo"><br/><br/>
                   <h4>保持乾燥!<br/></h4>
                   <h4>皮衣不再有臭味<br/></h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 function">
                <br/><br/><br/>
                   <h2>加購"集中風管"<br/></h2>
                   <img src="/images/triangle_function_2.jpg" alt="Logo"><br/><br/>
                   <h4>用空氣打通皮衣任督二脈!<br/></h4>
                   <h4><br/></h4>
                </div>
          </div>
        </div>
    </section>

        <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center"><br/>
                    <h2>規格</h2>
                    <hr class="star-light ">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-12">
                        <div class="text_area">
                        <br/><br/><br/>
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        <font size="4">品名 / 熱血車手生活都很亂之三角關係衣帽架</font> <br/><br/>
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        <font size="4">尺寸 / (寬)54cm x (長)54cm x(高)182cm</font> <br/><br/>
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        <font size="4">材質 / 實木(厚度:18mm),鐵管(直徑27mm),6吋強力風扇(110v)</font>
                        <br/><br/><br/><br/>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
                  <img src="/images/triangle_size.jpg" alt="size">
                </div>


            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="text-center">
                       <h2> 簡易開關款 </h2>
                     <img src="/images/triangle_type_2.jpg" alt="Logo"><br/>
                     <h3>開關直接控制風扇</h3>
                     <div class="price"> <h3>售價:4300元 </h3></div><br/><br/>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                   <div class="text-center">
                   <h2> 懶人定時器款 </h2>
                    <img src="/images/triangle_type_1.jpg" alt="Logo"><br/>
                    <h3>自行設定風扇時間,最長11小時</h3>
                    <div class="price"><h3>售價:4800元 </h3></div><br/><br/>
                   </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                   <div class="text-center">
                   <h2> 超殺配件! </h2>
                    <img src="/images/public_tube.jpg" alt="tube" class="tube_img"><br/><br/>
                    <h3>金屬衣架 搭配 超級中導風管</h3>
                    <div class="price"><h3>加購價只要: 1400元 </h3></div>
                   </div>
                </div>

            </div>
        </div>
    </section>

   <!-- Contact Install -->
    <section id="otherproduct">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>其他產品</h2>
                    <hr class="star-primary primary2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6  col-md-6 col-sm-6 function">
                <img src="/images/welcomeindex_2.jpg" size ="100%" alt="雙人款">
                </div>

                <div class="col-lg-5 col-lg-offset-1
                            col-md-5 col-md-offset-1
                            col-sm-5 col-sm-offset-1
                            otherproduct_word_area">
                    <div class="otherproduct_word">
                       <br/><br/><br/><br/>
                        <font size="5">除了單人款之外<br/>我們還有<font color="yellow">鋼鐵帽架</font><br/>
                        想瞭解更多? <br/>
                        請點選下方連結<br/><br/></font>
                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span><br/>
                        <%=link_to "鋼鐵帽架", product_helmet_1_path, class: "btn btn-primary btn-lg"%><br/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center"><br/>
                    <h2>立即購買</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 text-center">

                <h3>訂單</h3><br/><br/><br/>

                    <div class="btn btn-primary btn-lg">
                       <%=link_to "點我填寫訂單" , "http://goo.gl/forms/JUwHZv4EaekmaTpt2",  style: "color:white",onClick: "ga('send', 'event', [三方形], [連結], [購買])"%>
                    </div><br/><br/><br/>
                </div>


                <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="row text-center">
                <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4
                            col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
                <h3>注意事項</h3> <br/><br/><br/>
                </div>
                </div>
                  <div class="row">
                   <div class="notice_area">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <font size="4">以上為落地層架本體之售價, 不包含皮衣,安全帽,衣架或是其他配件</font>
                     <br/><br/>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <font size="4">售價皆含運(東部/離島另計), 可貨到付款手續費60元</font>
                    </span> <br/><br/>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <font size="4">不接受議價, 哥賣的是熱血,是血汗錢</font>
                    </span> <br/><br/><br/><br/>
                   </div>
                  </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-5">
                        <h3>聯絡方式</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <p>自取地點:</p>
                                <p>台中市龍井區<br>藝術北街105號</p>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <p>電話:</p>
                                <p>0930841202(浩克)</p>
                            </div>
                        </div>


                    </div>
                    <div class="footer-col col-md-2">
                        <h3>社群網站</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/huckhandwork" class="btn-social btn-outline" onClick="ga('send', 'event', [三角形], [底部], [粉絲頁])">
                                <i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="http://line.me/ti/p/3yKFTbMmuI" class="btn-social btn-outline" onClick="ga('send', 'event', [三角形], [底部], [LINE])">
                                <img src="/images/public_line.png" alt="Line"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-5">
                        <h3>關於我們團隊</h3>
                        <div class="row">
                          <div class="col-lg-6 col-lg-offset-4 col-md-6 col-md-offset-4  col-sm-6 col-sm-offset-4  col-xs-6 col-xs-offset-4 ">
                            <div class="aboutme">
                                一位摩托車技師/<br/>
                                一點不正經/<br/>
                                一點粗曠/<br/>
                                一點土炮/<br/>
                                很多研究精神<br/>
                                浩克手工, 勇往直前~<br/>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        HUCK手工傢俬 &copy; 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
</body>
